<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Félicitations ! Vous venez de publier votre annonce <%= @listing.name %> .</h1>
</body>
</html>