<h2 class="listing-form-title" style="padding-left:15px">Réservation en ligne</h2><br />

<%= render 'form' %>

<%= link_to "Retour à l'annonce", "/listings/#{params[:listing_id]}", style: "padding-left:15px" %>
