<div class="center">
	<div class="pages">
		<div class="pages-top">
			<h1 style="text-align:left;">À propos de nous</h1><br>
		</div>
		<div class="pages-body" style="text-align:left;">
			<p style="text-align: justify;font-size:18px;">Viaboat.fr est une plate-forme de mise en relation entre particulier et propriétaires de bateau pour effectuer des trajets sur le principe du covoiturage. Par exemple, vous êtes en vacances en Bretagne et décidez d’aller visiter Belle-Île ? Sur viaboat.fr des capitaines de bateaux vous proposent de vous y emmener, moyennant quelques euros, depuis n'importe quels ports. C’est simple, pratique, rapide et ca marche sur tout le littoral français ainsi que sur les eaux intérieures. C’est une expérience unique assurée.</p><br />
			<p style="text-align: justify;font-size:18px;">Les capitaines de bateaux y trouveront une manière de réduire leur frais liés à l'utilisation du bateau (essence, maintenance, etc). C'est aussi un bon moyen de partager son expérience et devient une occasion de rencontres et de convivialité.</p><br />
			<p style="text-align: justify;font-size:18px;">En pratique, c’est ultra simple, d’un côté les capitaines <a href="/listings/new">créent une annonce</a> pour un trajet en indiquant le lieu d’embarquement et de débarquement, la date, l’horaire, une description, le nombre de place disponible ainsi que le prix de la place. De l’autre côté, les personnes intéressées par une traversée <a href="#signup">s’inscrivent</a>, recherchent un trajet et réservent directement en ligne leur voyage. Je vous l’ai dit ! Super simple. La suite, c’est comme du covoiturage, vous réglez les derniers détails du voyage par téléphone et vous vous retrouvez le jour du départ pour rencontrer votre capitaine et vivre, l’espace d’un temps, le plaisir du large.</p>
		</div>
	</div>
</div>