<div class="center">
	<div class="pages">
		<div class="pages-top">
			<h1 style="text-align:left;">Conditions générales d'utilisation</h1><br>
		</div>
		<div class="pages-body" style="text-align:left;">
			<p style="text-align: justify">Conditions Générales d'Utilisation du site viaboat.fr, service de co-navigation entre particuliers.</p>

			<h2 style="text-align: justify">Champ d'application et définition</h2>
			<p style="text-align: justify">Les présentes conditions générales s'appliquent aux services proposés par le site viaboat.fr</p>

			<p style="text-align: justify">Le service de partage proposé sur ce site web est édité par un auto-entrepreneur, Quentin L'eilde.</p>

			<p style="text-align: justify">L'hébergement du site est assuré par la société Heroku Inc. - 650 7th Street San Francisco, CA 94103</p>

			<h2 style="text-align: justify">Préambule</h2>
			<p style="text-align: justify">L'utilisation du Site (« Site » ou « Nous » désigneront viaboat.fr) est subordonnée à l'acceptation des présentes CGU (conditions générales d’utilisation). Au moment de la création du Compte Utilisateur, les Utilisateurs (celui qui propose un trajet : le « Capitaine » et celui qui bénéficiera du dit trajet : le « Passager ») acceptent tacitement ces conditions générales d'utilisation.<br /> 
			Seule l'acceptation de ces CGU permet aux Utilisateurs d'accéder aux services proposés par le Site. L'acceptation des présentes CGU est pleine et entière.</p>

			<p style="text-align: justify">En cas de manquement à l'une des obligations prévues par les présentes conditions, Nous nous réservons la possibilité de supprimer le Compte Utilisateur concerné.</p>

			<p style="text-align: justify">Nous nous réservons le droit de modifier à tout moment les CGU, les fonctionnalités offertes sur le site ou les règles de fonctionnement du service.<br />
			La modification prendra effet immédiatement dès la mise en ligne des CGU. Ces modifications ne seront pas rétroactives.</p>

			<h2 style="text-align: justify">Compte Utilisateur et conclusion du contrat</h2>
			<h3 style="text-align: justify">.1 Identification</h3>
			<p style="text-align: justify">Chaque Utilisateur, qui souhaite utiliser le Site doit être clairement identifié en entrant son identifiant ainsi que son mot de passe (lesquels seront choisis à sa convenance). Le contrat entre en vigueur lors de la validation du formulaire d'inscription par le Site (sous condition que ce dernier indique des données correctes et complètes). Ces données sont indispensables au bon fonctionnement de la mise en relation entre les Utilisateurs. Chaque compte est personnel et ne doit pas contenir d’informations erronées dans le but d’arnaquer ou de tromper d’autres Utilisateurs. Si tel était le cas, Nous ne pouvons être tenus responsables de tels actes mais supprimerons immédiatement le ou les comptes incriminés et leurs créateurs seront bannis.</p>

			<h3 style="text-align: justify">.2 Description des prestations</h3>
			<p style="text-align: justify">Les Utilisateurs s'engagent à ne pas utiliser le service à titre professionnel ou commercial. Si tel était le cas, Nous ne pouvons être tenus responsables de tels actes mais supprimerons immédiatement le ou les comptes incriminés et leurs créateurs seront bannis.</p>

			<p style="text-align: justify">Pourra être considérée comme activité professionnelle toute activité sur le site qui, par la nature des trajets proposés, leur fréquence ou le nombre de Passagers transportés, entrainerait une situation de bénéfice pour le Capitaine.</p>

			<p style="text-align: justify">Nous n’interférons pas dans les trajets effectués, les destinations ou les horaires.</p>

			<h3 style="text-align: justify">.3 Frais de participation</h3>
			<p style="text-align: justify">Les frais de participation sont établis par le Capitaine, sous sa seule responsabilité. Ils sont sous forme monétaire. Cette somme doit être limitée au partage des frais et ne doit en aucun cas permettre au Capitaine de tirer un quelconque bénéfice.</p>

			<h3 style="text-align: justify">.4 Versement des frais de participation au Capitaine</h3>
			<p style="text-align: justify">Le versement des frais de participation au Capitaine s'effectue automatiquement, dans un délai de 1 à 5 jours ouvrés, après la date du trajet effectué, sur le compte bancaire du Capitaine à condition que celui-ci est bien renseigné ses informations bancaires (IBAN et BIC) au préalable sur la page de son profil. Le versement ce fait via virement bancaire.</p>

			<h2 style="text-align: justify">Réservation et annulation</h2>
			<p style="text-align: justify">Le Capitaine propose les trajets sur le Site en précisant le départ et l'arrivée, la date et les horaires. Il précise par ailleurs les modalités du trajet.</p>

			<p style="text-align: justify">Le Passager réserve une ou plusieurs places à partir du Site</p>

			<p style="text-align: justify">Le Passager et le Capitaine sont informés que la transaction est irrévocablement conclue, par un email envoyé au Passager lui confirmant la Réservation, et un email envoyé au Capitaine l'informant de la Réservation.<br />
			Le Capitaine s'engage envers le ou les Passagers à effectuer le trajet qu'il a proposé en Réservation et qu'il a accepté de partager avec eux, aux date, heure, et lieu convenus. Il s'engage également à offrir dans son embarcation le nombre de places effectivement réservées par chaque Passager.</p>

			<h3 style="text-align: justify">.1 Annulation d'une réservation</h3>
			<p style="text-align: justify">Le Capitaine et le Passager peuvent annuler une réservation préalablement réalisée à tout moment (« annulation »). Pour cela, le Capitaine ou le Passager qui souhaite effectuer une annulation doit envoyer un email à cette adresse : hello@viaboat.fr en précisant les raisons de l'annulation.</p>

			<h3 style="text-align: justify">.2 Remboursement en cas d'annulation</h3>
			<p style="text-align: justify">En cas d'annulation, le Site s'engage à rembourser sous deux semaines le montant total de la réservation, moins les frais de réservation, au Passager.</p>

			<h3 style="text-align: justify">.3 Obligations du Capitaine et du Passager</h3>
			<p style="text-align: justify">Il est rappelé que dans le cadre du trajet convenu entre le Capitaine et un ou plusieurs Passagers, le Capitaine et le Passager sont tenus de se présenter à l'heure et au lieu convenu . A défaut ou en cas d'annulation, Nous nous réservons le droit de garder ces informations d'annulation en base de données.</p>

			<p style="text-align: justify">Le Capitaine doit informer sans délais son ou ses Passagers de toute modification du trajet. Si un Passager refuse ce changement, alors il est en droit d'annuler complètement sa Réservation sans que ça fasse baisser son indice de fiabilité.</p>

			<h2 style="text-align: justify">Assurance</h2>
			<p style="text-align: justify">Le Capitaine s'engage à être assuré conformément à la législation en vigueur. Il s'engage également à être en possession d'un permis bateau en règle.</p>

			<h2 style="text-align: justify">Responsabilité</h2>
			<p style="text-align: justify">Le cobaturage résultant exclusivement de l'accord intervenu entre le Capitaine et les Passagers, les Utilisateurs du service (Capitaines comme Passagers) agissent sous leur seule et entière responsabilité. A ce titre, le déroulement effectif du trajet proposé par le Capitaine et accepté par le Passager ne saurait entrainer Notre responsabilité. Le service que Nous proposons étant un service de mise en relation.</p>

			<p style="text-align: justify">Nous nous efforçons d'assurer la disponibilité du Site et du service 24 heures sur 24, et 7 jours sur 7. Cependant, il peut arriver que l'accès au Site ou au service soit interrompu dans le cadre d'opérations de maintenance, de mises à niveau matérielle ou logicielle ou par suite de circonstances indépendantes de Notre volonté.</p>

			<h2 style="text-align: justify">Données à caractère personnel</h2>
			<p style="text-align: justify">Conformément à la loi relative à l’informatique, aux fichiers et aux libertés du 6 janvier 1978, les informations à caractère nominatif relatives aux Utilisateurs pourront faire l’objet d’un traitement automatisé.</p>

			<p style="text-align: justify">Nous nous réservons le droit de collecter des informations sur les Utilisateurs y compris en utilisant des cookies. Ces informations ne sont pas transmises à des tiers. Cette collecte de données nominatives est nécessaire au bon déroulement de l’utilisation du Site.</p>

			<p style="text-align: justify">Conformément à la loi n°78-17 du 6 janvier 1978, vous disposez d'un droit d'accès et de rectification sur les données personnelles vous concernant, en vous adressant au webmaster du Site via le formulaire Contact.</p>

			<h2 style="text-align: justify">Propriété intellectuelle</h2>
			<p style="text-align: justify">Tous les éléments du site www.viaboat.fr sont et restent notre propriété intellectuelle et sont protégés par le droit d’auteur.</p>

			<p style="text-align: justify">Personne n’est autorisé à reproduire, exploiter, rediffuser, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du Site qu’ils soient logiciels, visuels ou sonores sous peine de contrefaçon.</p>

			<p style="text-align: justify">Tout lien simple ou par hypertexte est strictement interdit sans Notre accord écrit exprès. Dans le cas contraire le contrevenant s’exposerait à des poursuites judiciaires. Tout lien hypertexte renvoyant au site www.hisseo.co et utilisant la technique du framing ou de l’in-line linking est formellement interdit. En règle générale tout lien, même tacitement autorisé, devra être retiré sur Notre simple demande.</p>

			<h2 style="text-align: justify">Règlement des litiges</h2>
			<p style="text-align: justify">Les présentes conditions d’utilisation sont soumises à la loi française. En cas de litige, il sera d’abord recherché une solution amiable. A défaut compétence est attribuée aux tribunaux compétents de Paris, nonobstant pluralité de défendeurs ou appel en garantie.</p>
		</div>
	</div>
</div>