<h1 class="listing-form-title">Comment ça marche ?</h1>
<div>
  <div class="panel with-nav-tabs panel-default" style="border-color:#00c5cc;">
    <div class="panel-heading" style="background-color:#00c5cc;padding:0;border-bottom:0;">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1default" data-toggle="tab">Vous êtes passager ?</a></li>
        <li><a href="#tab2default" data-toggle="tab">Vous êtes capitaine ?</a></li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1default">
          <div class="pass">
            <h2 class="">1. Trouvez votre trajet</h2>
            <p>Entrez vos villes d'embarquement et de débarquement, ainsi que votre date de voyage et choisissez parmi les capitaines proposant des trajets qui vous conviennent. Si vous voulez des précisions sur un trajet, vous pouvez commencer une discussion avec le capitaine.</p>
          </div>
          <div class="pass">
            <h2 class="">2. Réservez par carte bancaire</h2>
            <p>Vous réservez votre place avec une Carte Bancaire par paiement sécurisé et recevez un email de confirmation. Votre capitaine est prévenu immédiatement de votre réservation par email. Ensuite, appelez le capitaine pour régler les derniers détails du voyage de vive voix.</p>
          </div>
          <div class="pass">
            <h2 class="">3. Prenez le large !</h2>
            <p>Rendez-vous au lieu de départ convenu, bien à l'heure. Faites connaissance avec votre capitaine et prenez place à bord de son bateau. Préparez vous à effectuer une traversée incroyable...</p>
          </div>
        </div>
        <div class="tab-pane fade" id="tab2default">
          <div class="cap">
            <h2 class="">1. <a href="/listings/new">Publiez</a> votre annonce</h2>
            <p>Indiquez les lieux de départ et d'arrivée, la date et l'horaire de votre trajet ainsi que le prix par passager. Une description de votre voyage permettra de renseigner vos futurs passagers et limitera le nombre de question. Lors d'une réservation, la confirmation est immédiate et vous n'avez rien à faire.</p>
          </div>
          <div class="cap">
            <h2 class="">2. Vos passagers réservent et paient en ligne</h2>
            <p>Vos passagers réservent et paient en ligne sur Hisseo et vous êtes automatiquement prévenu(e) par email à chaque nouvelle réservation. Ensuite, échangez avec vos passagers par téléphone pour régler les derniers détails du voyage.</p>
          </div>
          <div class="cap">
            <h2 class="">3. Bon vent !</h2>
            <p>Rendez-vous au lieu de départ convenu, bien à l'heure ! Voilà, le départ est proche. Soyez à l'écoute de vos passagers et partager votre expérience !</p>
          </div>
          <div class="cap">
            <h2 class="">4. Recevez votre argent</h2>
            <p>Le versement s'effectue automatiquement, dans un délai de 1 à 5 jours ouvrés, après la date du trajet effectué, sur votre compte bancaire. Pour cela il est impératif de renseigner vos informations bancaires (IBAN et BIC) sur votre <a href="/users/edit">page de profil</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>