<div class="center">
	<div class="pages">
		<div class="pages-top">
			<h1 style="text-align:left;">Contactez-nous</h1><br>
		</div>
		<div class="pages-body" style="text-align:left;">
			<p style="text-align: justify">Pour nous contacter c'est très simple. Envoyez-nous un email à cette adresse : hello@hisseo.co</p>
		</div>
	</div>
</div>