<h1 class="listing-form-title">Jeu concours</h1>
<p style="text-align: justify">Section en cours de construction</p>
<p style="text-align: justify">Si vous avez des questions, n'hésitez pas à nous contacter : <a href="mailto:hello@viaboat.fr">hello@viaboat.fr</a></p>
<p style="text-align: justify">Nous nous engageons à répondre à vos questions en moins de 24 heures.</p>