<div class="center">
	<div class="pages">
		<div class="pages-top">
			<h1 style="text-align:left;">Mentions légales</h1><br>
		</div>
		<div class="pages-body" style="text-align:left;">
			<p style="text-align: justify">Cette plate-forme est édité par Quentin L'eilde, auto-entrepreneur SIRET 810820209 00015 - 16, résidence Beau-Soleil 56250 ST NOLFF.</p>

			<h2 style="text-align: justify">Contact</h2>
			<p style="text-align: justify">Vous pouvez joindre notre service par email à : hello@viaboat.fr</p>

			<h2 style="text-align: justify">Publication</h2>
			<p style="text-align: justify">Quentin L'eilde</p>

			<h2 style="text-align: justify">Hébergeur</h2>
			<p style="text-align: justify">L'hébergement du site est assuré par la société Heroku Inc. - 650 7th Street San Francisco, CA 94103</p> 
		</div>
	</div>
</div>