<footer class="footer-wrapper" <% if request.url() != root_url %><%= "style=background-color:#fff" %><% end %>>
	<div class="footer">
		<div class="row">
			<div class="col-md-12" style="text-align:center;">
				<h4>Suivez-nous sur</h4>
				<div class="share-links">
					<a class="social" href="https://www.facebook.com/hisseo.co" target="_blank" title="Facebook"><span class='fa fa-facebook'></span></a>
					<a class="social" href="https://twitter.com/hisseo_co" target="_blank" title="Twitter"><span class='fa fa-twitter'></span></a>
					<a class="social" href="/" target="_blank" title="YouTube"><span class='fa fa-youtube'></span></a>
					<a class="social" href="/" target="_blank" title="Pinterest"><span class='fa fa-pinterest'></span></a>
					<a class="social" href="/" target="_blank" title="Instagram"><span class='fa fa-instagram'></span></a>
				</div>
			</div>
		</div>
		<hr class="footer-divider">
		<div class="row" style="padding-left:150px;">
			<div class="col-md-4">
				<h4>Société</h4>
				<a href="/">À propos</a><br>
				<a href="/">Presse</a><br>
				<a href="/">Blog</a><br>
				<a href="/pages/legal">Mentions légales</a><br>
				<a href="/pages/cgu">Conditions générales d'Utilisation</a>
			</div>
			<div class="col-md-4">
				<h4>Aide</h4>
				<a href="/">Comment ca marche ?</a><br>
				<a href="/">FAQ</a><br>
				<a href="/">Support</a><br>
				<a href="/">Contactez-nous</a><br>
			</div>
			<div class="col-md-4">
				<h4>Découvrir</h4>
				<a href="/">Guide des prix</a><br>
				<a href="/">Jeu concours</a><br>
			</div>
		</div>
		<br><br>
		<div class="row">
			<h5 style="text-align:center;">© Hisseo</h5>
		</div>
	</div>
</footer>