<footer class="footer-wrapper" <% if request.url() != root_url %><%= "style=background-color:#fff" %><% end %>>
	<div class="footer">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;">
				<h4>Suivez-nous sur</h4>
				<div class="share-links">
					<a class="social" href="https://www.facebook.com/hisseo.co" target="_blank" title="Facebook"><span class='fa fa-facebook'></span></a>
					<a class="social" href="https://twitter.com/hisseo_co" target="_blank" title="Twitter"><span class='fa fa-twitter'></span></a>
					<a class="social" href="https://instagram.com/hisseo.co/" target="_blank" title="Instagram"><span class='fa fa-instagram'></span></a>
				</div>
			</div>
		</div>
		<hr class="footer-divider">
		<div class="row" style="padding-left:150px;">
			<div class="col-xs-4 col-sm-4 col-md-4">
				<h4>Société</h4>
				<a href="/pages/about">À propos</a><br>
				<a href="/pages/press">Presse</a><br>
				<!-- <a href="/">Blog</a><br> -->
				<a href="/pages/legal">Mentions légales</a><br>
				<a href="/pages/cgu">Conditions générales d'Utilisation</a>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<h4>Aide</h4>
				<a href="/pages/comment_ca_marche">Comment ca marche ?</a><br>
				<a href="/pages/faq">FAQ</a><br>
				<a href="/pages/contact">Contactez-nous</a><br>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<h4>Découvrir</h4>
				<a href="/pages/guide">Guide</a><br>
				<a href="/pages/game">Jeu concours</a><br>
			</div>
		</div>
		<br><br>
		<div class="row">
			<h5 style="text-align:center;">© Viaboat</h5>
		</div>
	</div>
</footer>